/* Задання змінних */

:root {
  --active-color: #404bbf;
  --logo-accent-color: #4d5ae5;
  --second-main-color: #2e2f42;
  --main-color: #434455;
  --main-font-size: 16px;
}

/* Обнуляючі, скидаючі та загальні стилі сторінки */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

img {
  display: block;
}

/* Стилізація Контейнерів */
.container {
  margin: 0 auto;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid tomato;
}
/* Стилізація Header */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-accent-color);
}

.logo-aсcent,
.header-logo-color {
  color: var(--second-main-color);
}

.header-logo:hover,
.header-logo:focus {
  color: var(--active-color);
}

.header-link {
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--active-color);
}

.adress {
  font-style: normal;
}

.adress-contact-link {
  font-size: var(--main-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.adress-contact-link:hover,
.adress-contact-link:focus {
  color: var(--active-color);
}

/* Стилізація Hero */

.hero {
  background-color: var(--second-main-color);
  text-align: center;
}

.hero-title {
  margin-top: 188px;
  margin-bottom: 64px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  display: inline-block;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
  margin-bottom: 188px;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-color);
}

/* Стилізація Features */

.features {
  padding: 120px 0;
}

.features-sub-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
}

.features-text {
  font-size: var(--main-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Стилізація Works */

.section-works {
  margin-bottom: 120px;
}

.works-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-main-color);
}

/* Стилізація Our Team */
.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-main-color);
}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
}

.team-text {
  font-size: var(--main-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-item {
  background-color: #ffffff;
}

.item-text {
  padding: 32px 16px;
}

/* Стилізація Footer */

.footer {
  padding: 100px 0;
  background-color: var(--second-main-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--active-color);
}

.footer-text {
  margin-top: 16px;
  font-size: var(--main-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* Стилізація Portfolio */

.portfolio-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
}

.btn-list {
  margin-bottom: 72px;
}

.filter-btn {
  padding: 12px 24px;
  border-radius: 4px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--active-color);
  color: #ffffff;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
}

.portfolio-text {
  font-size: var(--main-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
